@import '../../App';

.Dropzone {
    height: 18vw;
    width: 18vw;
    background-color: #fff;
    border: 2px dashed rgb(187, 186, 186);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10vw;
    span {
        font-size: 8vw;
        justify-content: center;
        position: absolute;
        margin-top: 0.5vw;
        color: $special;
        opacity: 0.7;
    }
    .FileInput {
        display: none;
    }
}

.summary-content {
    display: none;
    .root-title {
        font-size: 2.5vw;
        text-align: left;
        letter-spacing: 3px;
        margin: 3vw;
        font-weight: 300;
    }
    .total-files {
        font-size: 2vw;
        color: $special;
    }
}

.loader {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 19vw;
    display: none;
}

.Highlight {
    animation: grow-shrink 4s infinite;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.alert {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 9vw;
    .special {
        color: $special;
    }
}