@import '../../App';

$colors: (
    main-title: #000,
    special: $special
);

.Dashboard {
    margin: 3vw;
    text-align: center;
    .outer-title-box {
         margin: 2em;
        .dash {
            width: 3vw;
            height: 0.5vw;
            background-color: map_get($colors, special);
            margin-top: 1vw;
            left: 58vw;
            position: absolute;
        }
        .title {
            color: map_get($colors, main-title);
            font-size: 8vw;
            font-weight: 300;
            letter-spacing: 2px;
            .dot {
                color: map_get($colors, special);
                font-size: 8vw;
                opacity: 0.7;
            }
        }
    }
}